@media only screen and (min-width: 800px){
body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family:  Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
    font-size: 1.2vw;
 overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
.upozorneni{
display:none;
width: 300px;
height: 135px;
position: absolute;
top: 15vh;
right: 2vw;
background-color: #ffffff85;
color: #000000;
border-radius: 5px;
padding: 5px;
text-align: center;
align-items: center;
justify-content: center;
font-weight: bold;
font-size: 18px;
box-shadow: 0px 0px 20px #aa0202;
}
.end_index{
    position: absolute;
    top: 500vh;
    visibility: hidden;
}
.obrazky {
    position: absolute;
    width: 100%;
    top:2vw;
    height: 11.5vw;
    z-index: 1024;
}
.canceltopnav img{
    display: none;
  }

.menu{
display: none;

}
 .show{
    z-index: 10;
    position: fixed;
    display: block;
    float: right;
    height: 6vh;
    width: 6vh;
    left: 60vh;
    top: 2vw;
}


.uvod1 {
    z-index: -1;
    position: absolute;
    bottom: 0vh;
    left: 0;
    float:right;
    height: 100vh;
    width: 100vw;
}
.uvod1 img{
    object-fit: cover;
}

.uvodlogo {
    z-index: -1024;
    position: absolute;
    display: block;
    top:  3vw;
    left: 3vw;
    width: 22vw;
    float:left;
    -webkit-filter: drop-shadow(2px 2px 2px #ffffff);
    filter: drop-shadow(2px 2px 2px #ffffff);
}
.cancel{
    display: none;
}

.uvodni_napis{
    z-index: -1;
    position: absolute;
    top: 15vh;
    left: 6vw;
    font-size: 1.6vw;
    font-family:"Papyrus";
    text-shadow:2px 2px 2px #ffffff;
}
.jazykCZ{
    margin-top:0.8vw;
    position: absolute;
    right: 4.5vw;
    width: 1.5vw;
    font-size: 1vw;
    background-image: linear-gradient(#9eb5c9 0 0);
    background-repeat: no-repeat;
    background-size: 100% .08em;
    background-position: 200% 200%;
    transition: background-size .2s, background-position .2s .2s;
}
.jazykCZ:hover {
    background-size: 100% 100%; ;
    background-position: 100% 0;   
    transition: background-size .2s .2s, background-position .2s;
}

.jazykCZaktivni{
    margin-top:0.8vw;
    position: absolute;
    right: 3vw;
    width: 1.5vw;
    color: #4b6b85;
    font-size: 1vw;
}

.jazykEN{
    margin-top:2vw;
    position: absolute;
    right: 4.5vw;
    width: 1.5vw;
    padding: 0vw;
    font-size: 1vw;
    background-image: linear-gradient(#9eb5c9 0 0);
    background-repeat: no-repeat;
    background-size: 100% .08em;
    background-position: 200% 200%;
    transition: background-size .2s, background-position .2s .2s;
}
.jazykEN:hover {
    background-size: 100% 100%; ;
    background-position: 100% 0;   
    transition: background-size .2s .2s, background-position .2s;
}

.jazykENaktivni{
    margin-top:1.4vw;
    position: absolute;
    right: 3vw;
    width: 1.5vw;
    padding: 0vw;
    color: #4b6b85;
    font-size: 1vw;
}

.jazykPL{
    margin-top:0.8vw;
    position: absolute;
    right: 2vw;
    width: 1.5vw;
    padding: 0vw;
    font-size: 1vw;
    background-image: linear-gradient(#9eb5c9 0 0);
    background-repeat: no-repeat;
    background-size: 100% .08em;
    background-position: 200% 200%;
    transition: background-size .2s, background-position .2s .2s;
}
.jazykPL:hover {
    background-size: 100% 100%; ;
    background-position: 100% 0;   
    transition: background-size .2s .2s, background-position .2s;
}
.jazykPLaktivni{
    margin-top:0.8vw;
    position: absolute;
    right: 2vw;
    width: 1.5vw;
    padding: 0vw;
    color: #4b6b85;
    font-size: 1vw;
}
.jazykDE{
    margin-top:2vw;
    position: absolute;
    right: 2vw;
    width: 1.5vw;
    padding: 0vw;
    font-size: 1vw;
    background-image: linear-gradient(#9eb5c9 0 0);
    background-repeat: no-repeat;
    background-size: 100% .08em;
    background-position: 200% 200%;
    transition: background-size .2s, background-position .2s .2s;
}
.jazykDE:hover {
    background-size: 100% 100%; ;
    background-position: 100% 0;   
    transition: background-size .2s .2s, background-position .2s;
}

.jazykDEaktivni{
    margin-top:2vw;
    position: absolute;
    right: 2vw;
    width: 1.5vw;
    padding: 0vw;
    color: #4b6b85;
    font-size: 1vw;
}

#EN{
    display: none;
}
#CZ{
    display: block;
}

.show{
    z-index: 0;
    position: fixed;
    top: -2vh;
    left: 0;
    height: 11vh;
    width: 100vw;
    z-index: 0;
    background-color: #FFFFFF;
}

.topnav {
    font-size: 1.5vw;
    z-index: 1024;
    position: fixed;
    top: 0vw;
    width: 100vw;
    height: 4vw;
    float:left;
    text-decoration: none;
    overflow: visible;
    background-color: #ffffff;
}


.topnav a {
    z-index: 1024;
    height: 3vw;
    width: 9vw;
    padding-top: 1vw;
    text-decoration: none;
    float: left;
    color: #000000;
    text-align: center;
    cursor: pointer; 
    background-image: linear-gradient(#9eb5c9 0 0);
    background-repeat: no-repeat;
    background-size: 100% .05em;
    background-position: 200% 200%;
    transition: background-size .2s, background-position .2s .2s;
}

.topnav a:hover {
    background-size: 100% 100%; ;
    background-position: 100% 0;   
    transition: background-size .2s .2s, background-position .2s;
}

.topnav a.active {
    z-index: 1024;
    height: 3vw;
    background-color: #4b6b85;
    color: white;
}
a.active.longtop {
    z-index: 1024;
    height: 4vw;
    background-color: #4b6b85;
    color: white;
}

.topnav .longtop{
    padding-top: 0vw;
    width: 13vw;
    height: 4vw;
}
.topnav .longtop a{

    width: 12vw;
}


a.active.longtopshort {
    z-index: 1024;
    height: 3vw;
    background-color: #4b6b85;
    color: white;
}

.topnav .longtopshort{
    padding-top: 1vw;
    width: 12vw;
    height: 3vw;
}

.topnav .longtopshort a{
    padding-top: 1vw;
    width: 12vw;
}

.scroll {
    bottom: 0vw;
    right: 0vw;
    position: fixed;
    width: 15vw;
    z-index: 1024;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 20%;
    gap: 2%
;}

#down{
    display: flex;
    height: 40%;
}

#up {
    height: 40%;
    display: none;
    transform: rotate(180deg);
}

#down img, #up img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}



/* O NÁS */
.uvod_onas {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    margin-bottom: 0;
}

.uvod_onas img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.uvod {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 0;
    width: 100vw;
    height: auto;
    gap: 0;
}

.infoBlock {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
    width: 100vw;
    height: 50vh;
    margin-top: 0;
    gap: 0;
}

.infoBlock:nth-child(even){
    flex-direction: row-reverse;
}


.pribeh {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    width: 100vw;
    height: auto;
    margin-top: 0;
    background-color: #9eb5c94b;
    margin-bottom: 10px;
}

.text {
    text-align: center;
    width: 40vw;
    padding: 5vw;
}

.obrazek {
    width: 50%;
    height: 50vh;
}

.obrazek img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}


/* RESTAURACE */
.uvod_restaurace {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    margin-bottom: 0;
}

.uvod_restaurace img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.restaurace {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 0;
    width: 100vw;
    height: auto;
    gap: 0;
}

.oteviraciDoba {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    height: auto;
    margin-top: 0;
    padding: 10%;
    background-color: #9eb5c94b;
    align-items: center;
    justify-content: center;
    text-align: center;
}



/* UBYTOVÁNÍ */

.uvod_ubytovani {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    margin-bottom: 0;
}

.uvod_ubytovani img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ubytovani {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 0;
    width: 100vw;
    height: auto;
    gap: 0;
}

li {
    text-align: left;
}


/* SVATBY */

.uvod_svatby {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    margin-bottom: 0;
}

.uvod_svatby img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.svatby {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 0;
    margin-top: 20vh;
    gap: 0;
    position: absolute;
    background-color: #9eb5c94b;
    width: 70vw;
    height: 60vh;
    padding: 0 15vw 0 15vw;
}

.psvat {
    width: 80%;
    position: relative;
    margin-top: 5vh;
    text-align: left;
}

.radek {
    width: 80%;
    position: relative;
}

@counter-style symbols {
    system: cyclic;
    symbols: "\01F499";
    suffix: "  ";
}


.svatby li {
    list-style-type: symbols;
}

.srdce {
    position: absolute;
    float: right;
    height: 8vw;
    right: 0vw;
    bottom: 0vh;
  }

/* KONTAKT */

.blok_obrazku{
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    top: 4vw;
    height: 25vh;
}
.uvodni_obrazek{
    width: 25vw;
    height: 25vh;
}
.uvodni_obrazek img{
    width: 25vw;
    height: 30vh;
    object-fit: cover;
    filter: brightness(70%);
}

div.info {
    position: absolute;
    left: 0vw;
    margin-top: 38vh;
    background-color: #9eb5c94b;
    width: 100vw;
    height: 60vh;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
    align-items: center;
}

.ukazatel{
    width: 5vw;
}

.ukazatel img{
    width: 5vw;
}
.info1{
    z-index: 0;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    align-items: center;
    width: calc(90vw / 6);
    justify-content: space-between;
    height: 60%;
}
.info1 div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.info1 div:first-child{
    margin-bottom: 3vh;
}
.info2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;
    width: calc(90vw / 6);
    align-items: center;
    justify-content: space-between;
    height: 60%;
}

.info3{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    width: calc(90vw / 6);
    justify-content: space-between;
    height: 60%;
}

.info3 div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.info3 div:first-child{
    margin-bottom: 3vh;
}

.info4{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    width: calc(90vw / 6);
    justify-content: space-between;
    height: 60%;
}

.info5{
    text-align: center;
    z-index: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    width: calc(90vw / 6);
    justify-content: space-between;
    height: 60%;
}

.info6{
    text-align: center;
    z-index: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    width: calc(90vw / 6);
    justify-content: space-between;
    height: 60%;
}

 .bttn_kontakt{
    cursor: pointer;
    width: 10vw;
    position: relative;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: white;
    transition-duration: 0.4s;
    background-color: #4b6b85;
    background-image: linear-gradient(#9eb5c9 0 0);
    background-repeat: no-repeat;
    background-size: 100% .01em;
    background-position: 200% 200%;
    transition: background-size .2s, background-position .2s .2s;
}

 .bttn_kontakt:hover {
    background-size: 100% 100%; ;
    background-position: 100% 0;   
    transition: background-size .2s .2s, background-position .2s;
}

.facebook {
    position: relative;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: white;
    transition-duration: 0.4s;
    background-color: #4b6b85;
    background-image: linear-gradient(#9eb5c9 0 0);
    background-repeat: no-repeat;
    background-size: 100% .01em;
    background-position: 200% 200%;
    transition: background-size .2s, background-position .2s .2s;
}

.facebook:hover {
    background-size: 100% 100%; ;
    background-position: 100% 0;   
    transition: background-size .2s .2s, background-position .2s;
}

.facebook a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    width: 30vw;
}

 div.formular{
        padding-top: 5vh;
        position: absolute;
        right: 0;
        left: 0vw;
        top: 230vh;
        width: 100vw;
        height: 55vh;
        background-color: #9eb5c94b;
    }
    .formular form{
        position: absolute;
        left: 25vw;
        width: 80vw;
    }


iframe{
    width: 100vw;
    height: 60vh;
    position: absolute;
    left:0vw;
    top:120vh;
    border:0;
    
}

.input-row {
    margin-bottom: 0.2vw;
}

.input-row label {
    color: #000000;
}

.input-field {
    width: 100%;
    background-color:#9eb5c9;
    padding: 0.8vw;
    border: #4b6b85 1px solid;
    box-sizing: border-box;
}


.input-field-name{
    display: flex;
    margin-top: 0.5vh;
    width: 59.5%;
    background-color:#9eb5c9;
    padding: 0.8vw;
    outline: none;
    box-sizing: border-box;
    border: #9eb5c9 1px solid;
}
.input-field-name:focus {
    border: #4b6b85 1px solid;
}
.placeHolder{
    position: relative;
    padding: 0px 5px;
    color: #4b6b85;
    transition: 0.3s;
    pointer-events: none;
}

.input-field-email{
    display: flex;
    margin-top: 0.5vh;
    width: 59.5%;
    background-color:#9eb5c9;
    padding: 0.8vw;
    outline: none;
    box-sizing: border-box;
    border: #9eb5c9 1px solid;
}
.input-field-email:focus {
    border: #4b6b85 1px solid;
}
.placeHolderEmail{
    position: relative;
    padding: 0px 5px;
    color: #4b6b85;
    transition: 0.3s;
    pointer-events: none;
}


.input-field-predmet{
    display: flex;
    margin-top: 0.5vh;
    width: 59.5%;
    background-color:#9eb5c9;
    padding: 0.8vw;
    outline: none;
    box-sizing: border-box;
    border: #9eb5c9 1px solid;
}
.placeHolderPredmet{
    position: relative;
    padding: 0px 5px;
    color: #4b6b85;
    transition: 0.3s;
    pointer-events: none;
}

.input-field-predmet:focus {
    border: #4b6b85 1px solid;
}



.input-field-zprava{
    display: flex;
    margin-top: 0.5vh;
    width: 59.5%;
    background-color:#9eb5c9;
    padding: 0.8vw;
    outline: none;
    box-sizing: border-box;
    border: #9eb5c9 1px solid;
}
.placeHolderZprava{
    position: relative;
    padding: 0px 5px;
    color: #4b6b85;
    transition: 0.3s;
    pointer-events: none;
}
.input-field-zprava:focus {
    border: #4b6b85 1px solid;
}

.span-field {
    font: Arial;
    font-size: small;
    text-decoration: none;
}

.btn-submit-kontakt {
    position: absolute;
    top: 45vh;
    left: 19vw;
    width: 10vw;
    padding: 0.5vw 1vw;
    background: #9eb5c9;
    border: #9eb5c9 1px solid;
    color: #000000;
    cursor: pointer;
}
.btn-submit-kontakt:hover{
    border: #4b6b85 1px solid;
}

.btn-submit-kontakt:active{
    box-shadow:  rgba(0, 0, 0, 0.7) 9px 9px 21px 7px;
}

.errorMessage {
    background-color: #e66262;
    border: #AA4502 1px solid;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 25px;
}

.successMessage {
    background-color: #9fd2a1;
    border: #91bf93 1px solid;
    padding: 5px 10px;
    color: #3d503d;
    border-radius: 25px;
    cursor: pointer;
    font-size: 0.9em;
}


.kraj{
    position: absolute;
    top: 300vh;
    left: 30vw; 
    width: 50vw;
    height: 7vw;
    display: flex;
    align-items: center;
}


.kraj_logo{
    width: 10vw;
}

/* GALERIE */
#hlavni_strana{
    position: absolute;
    width: 100vw;
    left: 0vw;
    top: 30vh;
    height: 65vh;
    display: flex;
    gap: 1vw;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}


#hlavni_strana div{
    position: relative;
    height: 300px;
    width: 500px;
    display:flex;
    justify-content:center;
    align-items:center;
}
#hlavni_strana img{
    object-fit: cover;
    height: 300px;
    width: 400px;
    filter: brightness(50%);
}
#hlavni_strana div p{
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    z-index: 1;
}

#hlavni_strana div:hover img{
    opacity: 1;
    filter: brightness(100%);
    cursor: pointer;
}

#galerie_prvni{
    z-index: 1;
    position: absolute;
    top: 14.7vw;
    left: 1vw;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 150px;
    gap: 20px;
    height: calc(4*150px);
}

#galerie_prvni div{
    height: 100px;
    width: 150px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 20px;
}

#galerie_prvni div:hover img{
    filter: brightness(100%);
    cursor: pointer;
}

#galerie_prvni img{
    object-fit: cover;
    height: 100px;
    width: 150px;
    filter: brightness(50%);
}

#galerie_prvni div p{
    z-index: 1500;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
}



article{
    position: absolute;
    top: 14.7vw;
    left: 200px;
    right: 20px;
    gap: 1px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: left;
    transition: all 0.5s;
  }
  .gallery_prvni {
    display: none;
    margin: 0;   
    transition: all 0.5s;  
  }

  .gallery_druhy {
    display: none;
    transition: all 0.5s;
  }

  .gallery_treti {
    display: none;
    transition: all 0.5s;
  }
  
  .gallery_ctvrty {
    display: none;

    transition: all 0.5s;
  }

  .gallery_paty {
    display: none;

    transition: all 0.5s;
  }

  .gallery-image {
    position: relative;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 200px;
    filter: brightness(50%);
    transition: all 0.5s;
   
  }

  .gallery-image img {
    display: block;
    width: 300px;
    height: 200px;
    margin: 0;
    object-fit: cover;
    transition: all 0.5s;
  }

  .gallery-image:hover {
    filter: brightness(100%);
  }

  .gallery-image:after {
    border-width: 0;
  }
  
 
button.mfp-close {
    opacity: 1;
    margin-top: 0 !important;
    width: 20%;
    height: 30%;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
  }
  button.mfp-close:before, button.mfp-close:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    border: none;
    width: 2rem;
    height: 2rem;
    opacity: 1;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    border-top: 2px solid white;
    border-left: 2px solid white;
  }
  button.mfp-close:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            margin-left: -1px;
  }
  button.mfp-close:after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  button.mfp-close:hover:before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
            margin-left: 1px;
  }
  button.mfp-close:hover:after {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
  button.mfp-close:active {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }

  #close_btn{
    display: none;
    cursor:pointer;
    z-index:10;
    width: 5vw;
    height: 5vw;
    text-shadow: none;
    color: transparent;
    position: absolute;
    top: 35vh;
    right: 0vw;
    align-items: center;
    justify-content: center;
  }
 
  .mfp-close-galery:before, .mfp-close-galery:after {
    z-index: -1;
    content: "";
    position: absolute;
    margin: 0;
    border: none;
    width: 2rem;
    height: 2rem;
    opacity: 1;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    border-top: 2px solid rgb(0, 0, 0);
    border-left: 2px solid rgb(0, 0, 0);
  }
  .mfp-close-galery:before {
    z-index: -1;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            margin-left: -2px;
  }
  .mfp-close-galery:after {
    z-index: -1;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }


  .mfp-close-galery:active {
    z-index: -1;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  
 
  
  
/* BALICKY */
.balicky {
    margin-top: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    width: 100vw;
    gap: 2vh;
}

#balicek1, #balicek2 ,#balicek3 {
    cursor: pointer;
    background-color: #9eb5c94b;
    position: relative;
    text-align: center;
    justify-content: space-between;
    gap: 5%;
    display: flex;
    flex-direction: column;
    width: 23vw;
    padding: 1vw;
    font-size: 1.5vw;
    background-image: linear-gradient(#9eb5c94b 0 0);
    background-repeat: no-repeat;
    background-size: 100% .0em;
    background-position: 200% 200%;
    transition: all .5s;
}


.balickyCLose {
    z-index: 1024;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: right;
    width: 50%;
    height: 50%;
    top: 0%;
    right: 1%;
    transition: all .5s;
}

.close-btn {
    position: absolute;
    transition: transform .25s, opacity .25s;
    opacity: .7;
    cursor: pointer;
    font-size: 3em;
    font-family: serif;
    line-height: 1;
}

.close-btn:before {
    content: "\d7";
}

.close-btn:hover {
    opacity: 1;
    transform: rotate(90deg);
}

.balicek_rozbaleno {
    opacity: 0;
    display: none;
    transition: opacity 0.2s, visibility 0.2s;
}

.balicek_rozbaleno.active {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;

    grid-template-areas: 
    "left_side header header"
    "left_side one two";

    position: absolute;
    top: 40vh;
    left: 0vw;
    background-color: #4b6b856c;
    width: 92%;
    height: 55%;
    padding: 0% 6% 0% 2%;
    text-align: center;
}

.balicek_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2vw;
    gap: 5px;
}

.balicek_main .obrazek {
    height: 13vw;
    width: auto;
}

.balicek_maly.zmensen {
    width: 33% !important;
    height: 8vh !important;
    font-size: x-large !important; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.balicky.zmensen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 12vh;
    top: 28vh;
    margin-top: 0 !important;
}

.balicek_maly.zmensen img{
    display: none;
}

.balicek_maly.zmensen p{
    display: flex;
    margin: 0;
}

.balicek_maly.active {
    color: rgb(75, 107, 133) !important;
    background-color: rgba(158, 181, 201, 0.65)  !important;
}

.balicek_rozbaleno div{
    width: 100%;
    height: 100%;
    font-size: 90%;
}

.balicke_main_block{
    width: 100%;
    display: flex;
    position: relative;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    grid-area: left_side;
}

.balicek_rozbaleno .obsah{
    grid-area: one;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.balicek_rozbaleno .aktivity{
    grid-area: two;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.balicek_rozbaleno .doplnek{
    position: relative !important;
    text-align: center !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.balicek_rozbaleno .popis{
    grid-area: header;
    position: relative !important;
    text-align: center !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* CENÍK */
.cenik_dospeli{
    position: absolute;
    padding-top: 4vw;
    top: 16vw;
    left:0vw;
    width: 100vw;
    height: 42vh;
    background-color: #9eb5c94b;
    text-align: center;
    font-size: 1.5vw;
    display: flex;
    flex-direction: row;
    }

    .ceny_pokoju{
        display: flex;
        flex-direction: row;
        width: 70vw;
    }
    .ceny_pokoju div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 3vw;
    }
    

.dospeli_obrazek{
    z-index: 100;
    position: absolute;
    right: 0;
    top: 0;
    width: 30vw;
    height: 100%;
}

.dospeli_obrazek img{
    width: 30vw;
    height: 100%;
    object-fit: cover;
}

.cenik_deti{
    position: absolute;
    padding-top: 1vw;
    top: 125vh;
    left:0vw;
    width: 100vw;
    height: 50vh;
    background-color: #9eb5c94b;
    text-align: center;
    font-size: 1.5vw;
    display: flex;
    flex-direction: row;
}

.cenik_deti div{
    display: flex;
    flex-direction: column;
}
.cenik_deti div:last-child{
    margin-left: 30vw;
    width: 65vw;
}

.deti_obrazek{
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    width: 30vw;
    height: 100%;
}

.deti_obrazek img{
    width: 30vw;
    height: 100%;
    object-fit: cover;
}


.cenik_priplatyk{
    position: absolute;
    top: 220vh;
    left:0vw;
    width: 100vw;
    height: 55vh;
    background-color: #9eb5c94b;
    text-align: center;
    font-size: 1.5vw;
    display: flex;
    flex-direction: row;
    }
.cenik_priplatyk div{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.priplatky_obrazek{
    z-index: 100;
    position: absolute;
    right: 0;
    top: 0;
    width: 30vw;
    height: 100%;
}
.cenik_priplatyk h2{
    margin-left: 5vw;
}
.priplatky_obrazek img{
    width: 30vw;
    height: 100%;
    object-fit: cover;
}

.priplatky{
    width: 60vw;
    position: relative;
    margin-left: 5vw;
    border-collapse: collapse;
    margin-top: 1vw;

}
.priplatky th{
    width: 40vw;
    height: 3vw;
    text-align: center;
}

.priplatky tr{
    border-bottom: 1px solid #4b6b85;
  }



/*
.doplnek{
    position: absolute;
    top: 94vh;
    left:18vw;
    width: 61vw;
    text-align: center;
}*/
    
    .poplatek{
        position: absolute;
        top: 88vh;
        left:18vw;
        width: 61vw;
        text-align: center;
    }

    .poplatek2{
        position: absolute;
        top: 182vh;
        left:18vw;
        width: 61vw;
        text-align: center;
    }


    .cenik_info{
        position: absolute;
        padding-top: 3vw;
        top: 320vh;
        left:0vw;
        width: 100vw;
        height: 48vh;
        background-color: #9eb5c94b;
        text-align: center;
        font-size: 1.5vw;
        display: flex;
        flex-direction: row;
        }

        .cenik_info ul {
            text-align: left;
            margin-left: 35vw;
        }
        .cenik_info h2{
            margin-left: 35vw;
        }
    
    .end_cenik{
        visibility: hidden;
        position: absolute;
        top: 385vh;
        width: 1;
    }

    .info_obrazek{
        z-index: 100;
        position: absolute;
        left: 0;
        top: 0;
        width: 30vw;
        height: 100%;
    }

    .info_obrazek img{
        width: 30vw;
        height: 100%;
        object-fit: cover;
    }


/* REZERVACE */
.btn-submit {
    position: absolute;
    top: 65vh;
    left: 25vw;
    width: 10vw;
    padding: 0.5vw 1vw;
    background: #9eb5c9;
    border: #9eb5c9 1px solid;
    color: #000000;
    cursor: pointer;
}
.btn-submit:hover{
    border: #4b6b85 1px solid;
}

.btn-submit:active{
    box-shadow:  rgba(0, 0, 0, 0.7) 9px 9px 21px 7px;
}
    div.formular_rezervace{
        padding-top: 0.5vh;
        position: absolute;
        right: 0;
        left: 0vw;
        top: 30vh;
        width: 100vw;
        height: 69.5vh;
        background-color: #9eb5c94b;
    }
    .formular_rezervace form{
        position: absolute;
        left: 20vw;
        width: 80vw;
    }

    .rezerve-input-field-name{
        display: flex;
        margin-top: 0.5vh;
        margin-left: 0vw;
        width: 58.2vw;
        background-color:#9eb5c9;
        padding: 0.8vw;
        outline: none;
        box-sizing: border-box;
        border: #9eb5c9 1px solid;
    }
    .rezerveplaceHolder{
        position: relative;
        padding: 0px 5px;
        color: #4b6b85;
        transition: 0.3s;
        pointer-events: none;
    }
    .rezerve-input-field-name:focus {
        border: #4b6b85 1px solid;
    }
    
    .rezerve-input-field-email{
        display: flex;
        margin-top: 0.5vh;
        margin-left: 0vw;
        width: 58.2vw;
        background-color:#9eb5c9;
        padding: 0.8vw;
        outline: none;
        box-sizing: border-box;
        border: #9eb5c9 1px solid;
    }
    .rezerveplaceHolderEmail{
        position: relative;
        padding: 0px 5px;
        color: #4b6b85;
        transition: 0.3s;
        pointer-events: none;
    }
    
    .rezerve-input-field-email:focus {
        border: #4b6b85 1px solid;
    }
    
    
    .rezerve-input-field-predmet{
        display: flex;
        margin-top: 0.5vh;
        margin-left: 0vw;
        width: 58.2vw;
        background-color:#9eb5c9;
        padding: 0.8vw;
        outline: none;
        box-sizing: border-box;
        border: #9eb5c9 1px solid;
    }
    .rezerveplaceHolderPredmet{
        position: relative;
        padding: 0px 5px;
        color: #9eb5c9;
        transition: 0.3s;
        pointer-events: none;
    }
    
    .rezerve-input-field-predmet:focus {
        border: #4b6b85 1px solid;
    }

    .rezerve-input-field-zprava{
        display: flex;
        margin-top: 0.5vh;
        margin-left: 0vw;
        width: 58.2vw;
        background-color:#9eb5c9;
        padding: 0.8vw;
        outline: none;
        box-sizing: border-box;
        border: #9eb5c9 1px solid;
    }
    .rezerveplaceHolderZprava{
        position: relative;
        padding: 0px 5px;
        color: #4b6b85;
        transition: 0.3s;
        pointer-events: none;
    }
    textarea {
        width: 100vw;
    }


    
    .rezerve-input-field-zprava:focus {
        border: #4b6b85 1px solid;
    }
    
.rezerve-input-field-datum{
    margin-top: 0.5vh;
    margin-left: 0vw;
    width: 29vw;
    background-color:#9eb5c9;
    padding: 0.8vw;
    outline: none;
    box-sizing: border-box;
    border: #9eb5c9 1px solid;
}
.rezerve-input-field-datum-div{
    display: flex;
    gap: 2px;
    flex-direction: row;
}
.event a {
    background-color: #42B373 !important;
    background-image :none !important;
    color: #ffffff !important;
}
.rezerveplaceHolderDatum{
    position: relative;
    padding: 0px 5px;
    color: #4b6b85;
    transition: 0.3s;
    pointer-events: none;
}

.rezerve-input-field-datum:focus {
    border: #4b6b85 1px solid;
}

.rezerve-input-field-select{
    display: flex;
    margin-top: 0.5vh;
    margin-left: 0vw;
    width: 58.2vw;
    background-color:#9eb5c9;
    padding: 0.8vw;
    outline: none;
    box-sizing: border-box;
    border: #9eb5c9 1px solid;
}

.rezerveplaceHolderSelect{
    position: relative;
    padding: 0px 5px;
    color: #4b6b85;
    transition: 0.3s;
    pointer-events: none;
}

.rezerve-input-field-select:focus {
    border: #4b6b85 1px solid;
}
}
